body {
  background-color: #f0f8ff;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding: 50px;
  color: #003366;
}

.title {
  color: #1e90ff;
  font-size: 3em;
  text-shadow: 1px 1px 3px #87cefa;
  margin-bottom: 20px;
  font-family: "Courier New", Courier, monospace;
}

p {
  font-size: 1.3em;
  color: #000080; 
}
